body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #fef0f0;
}

.id-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
}

.password-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  position: relative;
}

.login-icon,
.password-icon {
  position: absolute;
  top: 8px;
  color: #666;
}

.show-password,
.hide-password {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.forgot-myInfo {
  margin-top: 10px;
}

span {
  color: #666;
  font-size: 9px;
}
